.users-profile {
  margin-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.mobile-users-profile {
  grid-template-columns: 1fr;
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-top: 15px;
  grid-gap: 20px;
}
