.term-and-copy-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.mobile-term-and-copy-right {
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.copy-right-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.copy-right-left {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #231f20;
}

.copy-right-right {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #637381;
}
