@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

main {
  min-height: 80vh;
  font-family: "Sen", sans-serif;
  background-image: white;
}

header {
  margin-top: 5px;
}
